<div class="ibox-content">
  <%= table([{w: 1, t: '节点名称'}, {w: 2, t: '实际开始时间'}, {w: 2, t: '实际截止时间'}, {w: 3, t: '完成情况'}, {w: 1, t: '审核状态'}, {w: 1, t: '完成百分比'}, {w: 2, t: '操作'}],
            fixed: true,
            caption: '进度节点',
            show_seq: false,
            obj: pm_progresses) do |progress| %>
      <%= table_tr({l: progress.node ? limit_word(progress.node, 15) : ''},
                   {c: progress.start_date},
                   {c: progress.end_date},
                   {l: progress.content ? limit_word(progress.content.html_safe, 30) : ''},
                   {c: Pm::WorkFlow::STATUS_HASH[progress.wf.try(:state)]},
                   {c: progress.percent},
                   {c: action_links(pm_progress_index_links(current_user, progress))}
          ) %>
  <% end %>
</div>