<div class="widget-content">
  <ul class="buttonBox">
    <li><span><img src="/assets/index/btndot1.jpg"/></span><span class="sp1">产权系统</span>
      <span class="sp2">Property System</span> <%= link_to "", url_for(bsfx_index_prs_property_rights_path(:name => current_user.cq_user)), :target => "blank", :style => "font-size: 20px" %>
    </li>
    <li><span><img src="/assets/index/btndot2.jpg"/></span><span class="sp1">快报系统</span>
      <span class="sp2">Express system</span><%= link_to "", url_for(bsfx_index_prs_property_rights_path(:name => current_user.kb_user)), :target => "blank", :style => "font-size: 20px" %>
    </li>
    <li><span><img src="/assets/index/btndot3.jpg"/></span><span class="sp1">预算系统</span>
      <span class="sp2">Budget System</span><%= link_to "", url_for(bsfx_index_prs_property_rights_path(:name => current_user.ys_user)), :target => "blank", :style => "font-size: 20px" %>
    </li>
    <li><span><img src="/assets/index/btndot4.jpg"/></span><span class="sp1">年报系统</span>
      <span class="sp2">Accounts system</span><%= link_to "", url_for(bsfx_index_prs_property_rights_path(:name => current_user.nb_user)), :target => "blank", :style => "font-size: 20px" %>
    </li>
    <li class="last"><span><img src="/assets/index/btndot5.jpg"/></span><span class="sp1">分析决策</span>
      <span class="sp2">Analysis and decision</span><a href="/analysis_spaces/index"></a></li>
  </ul>
</div>