<table>
  <tr>
    <td style="text-align: center">
      <% if pie.nil? %>
          暂无信息统计
      <% else %>
          <%= high_chart(pie.data[0][:name], pie) do |c| %>
              <%= raw "options.tooltip.formatter = function() { return  this.point.name +': '+ this.y +'#{type}，占'+ this.percentage.toFixed(2) +' %';}" %>
              <%#= raw "options.plotOptions.pie.dataLabels.formatter = function() { return this.point.name +': '+ this.percentage +' %';};" %>
              <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { return  this.point.name +': '+ this.y +'#{type}';}" %>
          <% end %>
      <% end %>
    </td>
  </tr>
</table>
