<div class="ibox-content">
  <%= table([{w: 4, t: '主题'}, {w: 1, t: '公文字号'}, {w: 1, t: '公文类型'}, {w: 3, t: '发起人'}, {w: 2, t: '操作'}],
            obj: docs,
            fixed: true,
            pagi_param_name: 'page') do |doc| %>
      <%= table_tr({c: seq(docs, doc, params[:page]||1)},
                   {l: doc.title},
                   {c: doc.doc_word_code},
                   {c: (doc.doc_type.value if doc.doc_type.code)},
                   {c: doc.creator.wf_name},
                   if doc.status == 'locked'
                     {c: action_links([
                                              {value: '办理', url: edit_oa_sent_document_path(doc)}
                                      ])}
                   else
                     {c: action_links([
                                              {value: '办理', url: edit_oa_sent_document_path(doc)},
                                              {value: '删除', url: oa_sent_document_path(doc), url_method: 'delete', :confirm => "确定删除吗？"}
                                      ])}
                   end
          ) %>
  <% end %>
</div>